.card-pokemon {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

.id {
  border-radius: 4px 0 50% 0;
  padding: 8px 7.5px;
  background-color: #e3e82c;
  color: black;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: -2px;
}

.box-image {
  height: 125px;
  display: flex;
  align-items: center;
}

.box-image img {
  width: max-content;
}

.box-type {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.tipo {
  text-align: center;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 0.875rem;
}

.grass {
  background-color: #147b3d;
}

.poison {
  background-color: #5e2d88;
}

.fire {
  background-color: #ab1f23;
}

.water {
  background-color: #1552e2;
}

.bug {
  background-color: #1c4b27;
}

.normal {
  background-color: #755259;
}

.flying {
  background-color: #4a677d;
}

.electric {
  background-color: #e3c32b;
}

.ground {
  background-color: #a9702c;
}

.fairy {
  background-color: #971944;
}

.fighting {
  background-color: #994025;
}

.psychic {
  background-color: #a42a6c;
}

.rock {
  background-color: #48180b;
}

.steel {
  background-color: #60746d;
}

.ice {
  background-color: #86c2f5;
}

.ghost {
  background-color: #33336b;
}

.dragon {
  background-color: #448b95;
}

.dark {
  background-color: #040706;
}

.ghost {
  background-color: #33336b;
}

.ghost {
  background-color: #33336b;
}

.ghost {
  background-color: #33336b;
}