header {
  margin: 50px 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: 1.5s balance infinite ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
}

header h1 {
  text-transform: uppercase;
  font-size: 6.5rem;
  font-weight: normal;
  color: #232323;
}

.pokedex {
  width: 130px;
}

@keyframes balance {
  0% {
    transform: translate3d(0, -3px, 0);
  }
  50% {
    transform: translate3d(0, 3px, 0);
  }
  100% {
    transform: translate3d(0, -3px, 0);
  }
}

@media (max-width: 679px) {
  header {
    gap: 15px;
  }
  header h1 {
    font-size: 6rem;
  }
  .pokedex {
    width: 100px;
  }
}

@media (max-width: 459px) {
  header h1 {
    font-size: 4rem;
  }
  .pokedex {
    width: 75px;
  }
}